/* 
Mise en place du conteneur
*/
#avanced_search_container{
    width: 640px;
    margin: auto;
}

/* 
Propriété de la classe
*/
.avanced_search_type
{
    background-color: #3d3c3c;
    border-bottom: 1px solid #515151;
    display: block;

}

/* 
Propriété des liens de la classe
*/
.avanced_search_type a
{
    color: #edebe8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    display: block;
    line-height: 90px;
    padding-left: 120px;
    background: url(picto_puce_close2.jpg) left no-repeat; 
}

/* 
structuration du fond en fonction des navigateurs.
*/
#start_search_type
{
    display: block;
    background: #b81113; /* Anciens navigateurs */
    background: -moz-linear-gradient(top, #b81113 0%, #da3739 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b81113),
        color-stop(100%, #da3739) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b81113 0%, #da3739 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b81113 0%, #da3739 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b81113 0%, #da3739 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #b81113 0%, #da3739 100%);
    /* W3C */
}

/* 
Mise en page des Liens
*/
#start_search_type a
{
    color: #edebe8;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    line-height: 60px;
    text-align: center;
}

