/*
----------------------------------------------------------------------------------
@copyright : AgencyBlur / QL_appshop
@date : 21/01/2013
@Description :
Css du menu_top.html
-----------------------------------------------------------------------------------------------------
*/

body

{
	margin:0px;
}

#top

{
	background: rgb(58,58,58); /* Anciens navigateurs */
	background: -moz-linear-gradient(top, rgba(58,58,58,1) 0%, rgba(32,32,32,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,58,1)), color-stop(100%,rgba(32,32,32,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
}

#menu_haut /*style global du menu du haut*/

{
	background: rgb(58,58,58); /* Anciens navigateurs */
	background: -moz-linear-gradient(top, rgba(58,58,58,1) 0%, rgba(32,32,32,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,58,1)), color-stop(100%,rgba(32,32,32,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(58,58,58,1) 0%,rgba(32,32,32,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
	height:88px;
	width:640px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#bouton_menu  /*style du bouton menu*/

{
	background-image: url('../images_640/picto_bouton_menu_passif.png');
	position:absolute;
	width:104px;
	height:76px;
	left:1%;
	top:3px;
}

#bouton_menu:hover  /*style du bouton menu*/

{
	background-image: url('../images_640/picto_bouton_menu_actif.png');
}

#bouton_avec_notifications /*style du bouton avec notifications*/

{
	background-image: url('../images_640/picto_bouton_notif_passif.png');
	position:absolute;
	width:104px;
	height:76px;
	right:1%;
	top:3px;
}

#bouton_avec_notifications:hover /*style du bouton avec notifications*/

{
	background-image: url('../images_640/picto_bouton_notif_actif.png');
}

#bouton_sans_notification /*style du bouton sans notification */

{
	background-image: url('../images_640/picto_bouton_sans_notif_passif.png');
	position:absolute;
	width:104px;
	height:76px;
	right:1%;
	top:3px; 
}

#bouton_sans_notification:hover /*style du bouton sans notification */

{
	background-image: url('../images_640/picto_bouton_sans_notif_actif.png');
}

#titre_menu /*style du titre du menu*/

{
	color:white;
	width:100%;
	position:absolute;
	text-align:center;
	line-height:88px;
	vertical-align:middle;
	font-family:"Arial"; /* typo à changer */
}

#titre_menu a/*style du titre du menu*/

{
	text-decoration: none;
	color:white;
	font-size: 40px;
}